*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

$Soft-blue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);
$Very-dark-blue-main: hsl(217, 54%, 11%);
$Very-dark-blue-card: hsl(216, 50%, 16%);
$Very-dark-blue-line: hsl(215, 32%, 27%);
$White: hsl(0, 0%, 100%);

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    font-size: 18px;
    background-color: $Very-dark-blue-main;
    font-family: "Outfit", sans-serif;
    color: $White;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: $Very-dark-blue-card;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 3em;
    width: 80%;
    border-radius: 10px;
    align-items: center;

    & > *{
        margin: 1em 1em;
        width: 80%;
    }

    #cube{
        border-radius: 10px;
        width: 100%;
        &:hover{
            cursor: pointer;
            opacity: 20%;
        }
    }

   .wrapper{
        position: relative;
    }

    .cover{
        top: 0;
        left: 0;
        width: 20%;
        padding: 40%;
        border-radius: 10px;
        position: absolute;
        background: $Cyan;
        z-index: 0;
        opacity: 0;

        &:hover{
            cursor: pointer;
            opacity: 60%;
            transition: all 0.2s ease-in-out;
        }
    }


    .code{
        //border: solid;
        font-weight: 600;
        text-align: left;
    }
    .phrase{
        //border: solid;
        margin-top: 0.5em;
        color: $Soft-blue;
        text-align: left;
        font-weight: 300;
    }

    .value{
        margin-top: 0.5em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 0.5px $Soft-blue;

        >*{
            margin-bottom: 1em;
        }

        .crypto{
            color: $Cyan;
        }

        .time{
            color: $Soft-blue;
            font-weight: 300;
        }
    }

    .author{
        margin-top: 0.5em;
        display: flex;
        align-items: center;
        justify-content: space-around;

        img{
            height: 2em;
            box-shadow: 0 0 0 1px $White;
            border-radius: 50%;
        }

        p{
            color: $Soft-blue;
            font-weight: 400;

        }
    }

}

hr{
    color: $Soft-blue;
}

button{
    cursor: pointer;
    border: none;
    background: transparent;
    color: $White;
    font-family: inherit;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    &:hover{
        color: $Cyan;
    }
}

@media only screen and (min-width: 450px){
    .container{
        width: 20em;
    }
}